{% extends "admin/base_site.html" %}

{% block content %}
    <h1>Arquivos de Backup de {{ equipamento.descricao }}</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Arquivo</th>
                <th>Data de Upload</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for arquivo in arquivos %}
                <tr>
                    <td>{{ arquivo.file.name }}</td>
                    <td>{{ arquivo.uploaded_at }}</td>
                    <td><a href="{% url 'download_backup' arquivo.id %}">Baixar</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum arquivo encontrado.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
