{% extends "admin/base_site.html" %}

{% block content %}
<h1>Arquivos de Backup - {{ equipamento.descricao }}</h1>
{% if arquivos %}
    <table class="table">
        <thead>
            <tr>
                <th>Arquivo</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for arquivo in arquivos %}
            <tr>
                <td>{{ arquivo }}</td> <!-- Exibe o nome do arquivo -->
                <td>
                    <!-- Link para download do arquivo -->
                    <a href="{% url 'download_backup' arquivo %}" class="button">Download</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nenhum arquivo encontrado.</p>
{% endif %}
{% endblock %}
